.row {
    margin:0px;
    padding: 0px;
    height: 100vh;
}

.container-fluid {
    height: 100vh;
    width: 100%;
}

.landing-title-group {
    padding-top: 10rem;
    align-items: center;
}

.vertical-divider-red {
    height: 24rem;
    border-left: 4px solid var(--secondary-color);
    padding: 20px;
}

.featured-text {
    line-height: 25px;
    min-width: 200px;
}

.landing-icons {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    text-align: end;
}

//code icon
.landing-icons i:nth-child(1) {
    font-size: 30px;
}

//headphones icon

.landing-icons i:nth-child(2) {
    margin-right: 15px;
    font-size: 33px;
}

//angular icon
.landing-icons i:nth-child(3) {
    margin-right: 13px;
    font-size: 40px;
}

//beer icon
.landing-icons i:nth-child(4) {
    margin-right: 12px;
    font-size: 38px;
}

//glasses icon
.landing-icons i:nth-child(5) {
    margin-right: 12px;
    font-size: 33px;
}

//terminal icon
.landing-icons i:nth-child(6) {
    margin-right: 12px;
    font-size: 29px;
}

//jedi icon
.landing-icons i:nth-child(7) {
    margin-right: 12px;
    font-size: 34px;
}

i {
    font-size: 3em;
    margin-bottom: 14px;
    margin-right: 10px;
}
.red {
    color: red;
}

p {
    color: white;
    font-size: 12px;
}

@media (max-width: 700px) {

    .landing-title-group {
        margin-top: 4vh;
        padding: 0px;
        height: 95vh;
    }
    .landing-icons * {
        text-align:start;
        margin-bottom: 14px;
        margin-right: 10px;
        line-height: 40px;
    }

    .landing-icons {
        align-items: flex-end;
    }

    .lading-icons i {
        margin-right: 0px !important;
    }

    .featured-text {
        font-size: 14px;
        font-family: var(--font-secondary);
        font-weight: 500;
        padding-right: 20px;
        line-height: 17px;
        margin-top: 10px;
    }

    .vertical-divider-red {
        border-left: 3px solid var(--secondary-color);
        padding-top: 0px;
        height: 28rem;
    }

    .container-buttons {
        width: 200px;
        padding-top: 20px;
    }

    .fa-code {
        font-size: 27px !important;
        padding-right: 2px;
    }

    .fa-headphones-alt {
        font-size: 32px !important;
        margin-right: 14px !important;
    }

    .fa-angular:before {
        padding-right: 3px !important;
        font-size: 38px !important;
    }

    .fa-beer:before {
        font-size: 37px !important;
        padding-right: 1px !important;
    }

    .fa-glasses:before {
        font-size: 32px !important;
        padding-right: 3px !important;
    }

    .fa-jedi:before {
        font-size: 33px !important;
        padding-right: 2px !important;
    }

    .fa-terminal {
        font-size: 27px !important;
        padding-right: 3px !important;
    }
    


}
